body {
    margin: 0;
    padding: 0;
    background: url(WhatsApp\ Image\ 2022-06-09\ at\ 10.29.29\ PM.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: white;
}

